@font-face {
  font-family: 'Glegoo';
  src: local('Glegoo'), url(./fonts/Glegoo-Regular.ttf) format('ttf');
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "Glegoo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight:
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  display: inline;
  padding: 20px;
}

ul{
  margin-left: -40px;
  margin-top: 0;
  margin-bottom: 0;


}
video{
  box-shadow:"5px 5px 7px 8px rgba(46, 120, 125, 0.81)";
  position: absolute;
  fit: contain;
  border-radius: 30px;
  width: 700px;
}
